{% extends 'base.html' %}

{% block title %}
    Portfel
{% endblock %}

{% block body %}
    {% if error != None %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Error!</strong> {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    {% endif %}

    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-header buy-header">
                    Buy
                </div>
                <form autocomplete="off" action="/form_buy" method="post">
                    <div class="form-group">
                        <label for="what_buy">Че купил</label>
                        <input class="form-control" name="active_name" type="text" id="what_buy">

                        <label for="how_buy">Сколько</label>
                        <input class="form-control col-md-3 col-12" name="count" type="text" id="how_buy">

                        <label for="cost_buy">Потратил за одну</label>
                        <input class="form-control col-md-5 col-12" name="price" type="text" id="cost_buy">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Базарю</button>
                </form>
            </div>
        </div>

        <div class="col col-12 col-md-6">
            <div class="card">
                <div class="card-header sell-header">
                    Sell
                </div>
                <form autocomplete="off" action="/form_sell" method="post">
                    <div class="form-group">
                        <label for="what_sell">Че продал</label>
                        <input class="form-control" name="active_name" type="text" id="what_sell">

                        <label for="how_sell">Сколько</label>
                        <input class="form-control col-12 col-md-3" name="count" type="text" id="how_sell">

                        <label for="cost_sell">Получил за одну</label>
                        <input class="form-control col-12 col-md-5" name="price" type="text" id="cost_sell">

                    </div>
                    <button type="submit" class="btn btn-outline-danger">Базарю</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}