.horizont_form {
    margin: 10px 0px;
}

.table_actives {
    margin-bottom: 10px;
}

.nav-container {
    margin-bottom: 10px;
}

.actual_price {
    margin: 16px;
}

.modal-content {
    border: 0;
}

.modal-header {
    background-color: #ff8c66;
    border: 0;
}
