.buy-header {
    background-color: #c3f9c3;
}

.sell-header {
    background-color: #ffad99;
}

form {
    margin: 10px;
}

.main-container {
    margin-top: 15px;
}

.nav-container {
    margin-bottom: 15px;
}